:root {
  --youtube-color: red;
  --facebook-color: #0766FF;
  --instagram-color: #962fbf;
  --instagram-indigo-color: #4f5bd5;
  --instagram-pink-color: #d62976;
  --instagram-orange-color: #fa7e1e;
  --instagram-yellow-color: #feda75;
}

body {
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
}

img {
  max-width: 100%;
}

.hidden_el {
  visibility: hidden;
}
