.container {
  justify-content: center;
}

.img_wrapper {
  width: fit-content;
  margin: auto;
}

.logo {
  width: 80px;
  aspect-ratio: 1 / 1;
  margin: 1.5em 1em
}

@media (min-width: 350px) {
  .container {
    display: flex;
  }

  .img_wrapper {
    margin: 0;
  }
}
