.search_input {
  display: flex;
  height: 30px;
}

.select {
  justify-content: center;
  height: 120%;
}

.select_btn {
  height: 100%;
}

.select_collapse {
  display: grid;
  grid-auto-flow: row;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0px 3px 5px lightgray;
  margin: 0px;
  position: absolute;
}

.select_collapse > button {
  width: 100%;
  background-color: transparent;
  text-align: left;
}

.select_collapse > button:hover {
  background-color: rgb(245, 245, 245);
}

.input {
  height: 30px;
}

.search_btn {
  border-radius: 5px;
  height: 120%;
  color: white;
  /* Background colors
    Youtube: red
    Facebook: new color: #0766FF, old color: linear-gradient(to top, #4267B2, #39B9FE)
    Instagram: radial-gradient(circle at 30% 107%, #feda75 0%,#fa7e1e 5%,#d62976 45%,#962fbf 60%,#4f5bd5 90%)
    desktop - ellipse, mobile - circle
  */
}

.youtube_bg {
  background: var(--youtube-color);
}

.facebook_bg {
  background: var(--facebook-color);
  /* background: linear-gradient(to top, #4267B2, #39B9FE); */
}

.instagram_bg {
  background: radial-gradient(ellipse at 30% 107%, var(--instagram-yellow-color) 0%,var(--instagram-orange-color) 5%,
  var(--instagram-pink-color) 45%,var(--instagram-color) 60%,var(--instagram-indigo-color) 90%);
}

.instagram_mob_bg {
  background: radial-gradient(cirlce at 30% 107%, var(--instagram-yellow-color) 0%,var(--instagram-orange-color) 5%,
  var(--instagram-pink-color) 45%,var(--instagram-color) 60%,var(--instagram-indigo-color) 90%);
}

@media (min-width: 520px) {
  .input {
    width: 300px;
  }

  .select_collapse {
    position: relative;
  }
}
